* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222222 !important;
}

.nav-link.active {
    color: red !important;
}

.no-decoration {
    text-decoration: none;
    color: black;
}

.no-decoration:hover {
    color: red;
}

img {
    max-width: 100%;
}

.d-center{display: flex;
justify-content: center;
align-items: center;}

.detail-card {
  max-width: 400px; 
  width: 100%;
  margin: auto;
}

.detail-card-img {
 
  max-height: 400px;
 
}

.grey-bg-card{
  background-color: #f8f9fa;
}



